# IDE & Editor
.vscode/
.idea/
.cursor/
*.swp
*.swo
*~
.DS_Store
*.pem

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store

# Project specific
node_modules/
dist/
build/
*.tsbuildinfo
next-env.d.ts

# Next.js
.next/
out/

# vercel
.vercel
